[submodule "plugins/dipasAddons/dataNarrator"]
	path = plugins/dipasAddons/dataNarrator
	url = https://github.com:agriculturedev/data-narrator-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com:agriculturedev/data-narrator-backend.git
